.demo-blog__posts {
    max-width: 900px;
    padding: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.demo-card-wide > .mdl-card__title {
    color: #ffffff;
    height: 100px;
}

.demo-card-wide > .mdl-card__title > .mdl-card__title-text {
    background: #2f3e5b;
}

.demo-card-wide > .mdl-card__title_without_img {
    background: #2f3e5b;
    height: 100px;
}

.demo-card-wide > .mdl-card__menu {
    color: #bbbbbb;
}