.demo-blog__posts {
    max-width: 900px;
    padding: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

a.demo-link:link,
a.demo-link:visited,
a.demo-link:hover,
a.demo-link:active {
    color: rgba(0, 0, 0, .54);
}

.demo-card-wide > .mdl-card__title {
    color: #ffffff;
    height: 100px;
}

.demo-card-wide > .mdl-card__title > .mdl-card__title-text {
    background: #2f3e5b;
}

.demo-card-wide > .mdl-card__title_without_img {
    background: #2f3e5b;
    height: 100px;
}

.demo-card-wide > .mdl-card__menu {
    color: #bbbbbb;
}

.demo-blog__posts * p {
    text-align: justify;
    text-indent: 40px;
}

.docs-toc ul {
    border-left: solid 3px #83b1bb;
    padding-left: 20px;
    line-height: 28px
}

.docs-toc a, a.title {
    font-weight: 400;
    color: #83b1bb
}

.docs-toc li {
    font-size: 16px;
    list-style: none
}

.gsc-search-button {
    visibility: hidden;
    display: none
}

.gsc-control-cse {
    padding: 0
}

a.title {
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;

}